/* Styling for Home.js */

body {
    background-color: rgb(240, 240, 240);
}

#home-div {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-header {
    width: 70vw;
    text-align: center;
    font-size: 3vw;
}

#su-img {
    width: 27vw;
}

.link {
    text-decoration: none;
}

.button {
    background-color: rgb(165, 20, 23);
    width: 20vw;
    height: 7vw;
    line-height: 7vw;
    text-align: center;
    color: white;
    border-radius: 10px;
    font-size: 3vw;
    font-weight: bold;
}

.button:hover {
    background-color: rgb(210, 53, 55);
}

#button-container {
    display: flex;
    gap: 5vw;
    padding-top: 5vh;
}